@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Outfit:wght@100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: 'Outfit', 'Gideon Roman';
}

.header {
  position: fixed;
  width: 100%;
  padding: 2rem 2%;
  background-color: white;
  z-index: 5;
}

.heading {
  font-size: 8rem;
  color: rgb(69, 69, 69);
  font-family: 'Gideon Roman';
}

.heading-2 {
  font-size: 5rem;
  color: rgb(69, 69, 69);
  font-family: 'Gideon Roman';
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}

hr {
  border: none;
  width: 10%;
  height: 5px;
  background-color: grey;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  color: rgba(35, 19, 1, 0.96);
  font-size: 3rem;
}

.logo-item {
  display: flex;
  align-items: center;
}

.navbar {
  display: flex;
  gap: 5rem;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid rgb(114, 114, 114);
  padding-bottom: 2rem;
}

.menu {
  display: flex;
  align-items: center;
}

.menu-toggle {
  display: none;
  cursor: pointer;
}

.menu.open ul {
  display: flex;
}

ul {
  display: flex;
  align-items: center;
  gap: 5rem;
}

ul a {
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
}

.search {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.icon-search {
  padding: 0.5rem;
  border-radius: 15px;
  border: 2px solid rgb(118, 116, 116);
  display: flex;
  align-items: center;
}

.icon-search:hover {
  transform: scale(1.05);
  transition: 0.4s;
}

.contact-btn {
  background-color: rgb(0, 0, 0);
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  border: none;
  border: 1px solid black;
  color: white;
  cursor: pointer;
  border-radius: 20px;
}

.contact-btn:hover {
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  transform: scale(1.05);
  transition: 0.4s;
  color: black;
}

.Home {
  padding: 10rem 5%;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.believe {
  font-size: 2rem;
  font-weight: 300;
}

/* Featured */

.Featured-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 3rem;
  position: relative;
}

.Feautured-items img {
  width: 100%;
  border-radius: 25px;
}

.Feautured-items:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.Feautured-items:nth-of-type(1) img {
  width: 100%;
}

.Featured {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.categories {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  font-size: 2rem;
  text-align: center;
  align-items: center;
  gap: 2rem;
}

.category {
  padding: 2rem;
  border-radius: 15px;
  border: 2px solid black;
}

.category a {
  text-decoration: none;
  color: black;
}

.category:hover {
  color: white;
  background-color: black;
  transition: 0.4s ease-in-out;
  transform: scale(1.05);
}

.category:hover a {
  color: white;
}

/* News */

.News {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

.News-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
}

.Whole-News-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
}

.news-items {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.news-items .NEWS_TYPE {
  font-size: 3rem;
  width: 100%;
  text-align: left;
  font-weight: 500;
}

.news-items a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.news-items h1 {
  padding: 1rem;
  margin-bottom: 5px;
  background-color: white;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  font-size: 1.3rem;
  font-weight: 300;
}

.img-div {
  width: 100%;
  height: 60vh;
  background-size: cover;
  padding: 1rem;
  border-radius: 20px;
}

.Trendy_News {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.read_more {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  border-radius: 12px;
  cursor: pointer;
  border: 2px solid black;
}

.read_more:hover {
  background-color: black;
  color: white;
  transition: 0.4s;
}

.Menu-category {
  padding: 10rem 5% 5rem;
  min-height: 100vh;
}

.categories_main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
}

.category-links {
  padding: 2.5rem 0;
  border-bottom: 2px solid black;
}

.category-links a {
  text-decoration: none;
  color: black;
}

/* contact */
.Contact {
  padding: 10rem 5% 5rem;
}

.Contact_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}

.Contact_form input,
textarea {
  width: 600px;
  padding-left: 20px;
  border-radius: 15px;
  border: 2px solid black;
  font-size: 1em;
}

.Contact_form input {
  height: 8vh;
  padding-left: 20px;
  border-radius: 15px;
  border: 2px solid black;
}

.Contact_form textarea {
  padding: 2rem;
}

.Contact_form button {
  padding: 1rem;
  background-color: black;
  color: white;
  border: 1px solid black;
  border-radius: 10px;
}

.Contact_form button:hover {
  background-color: white;
  color: black;
  transition: 0.4s;
  cursor: pointer;
}

.Whole-News-container {
  display: none;
}

.editors {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.Section_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
}

.Section_title h1 {
  font-size: 3.5rem;
  font-family: 'Gideon Roman';
  width: 20%;
}

.Section_title p {
  font-size: 1.5rem;
  font-family: 'Gideon Roman';
  width: 38%;
}

.editors-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}

.Editors_part1 {
  height: 100vh;
  background-size: cover;
  border-radius: 15px;
  padding: 2rem;
}

.Editors_part1 h1 {
  padding: 1rem;
  margin-bottom: 5px;
  background-color: white;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  font-size: 1.3rem;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: black;
}

.editor-items:nth-of-type(2) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
}

.Editor_part2 {
  height: 50vh;
  border-radius: 15px;
  padding: 2rem;
  background-size: cover;
}

.Editor_part2 h1 {
  padding: 1rem;
  margin-bottom: 5px;
  background-color: white;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  font-size: 1.3rem;
  font-weight: 300;
}

.Editor_group {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.read {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.read h5 {
  font-size: 1.2rem;
  color: rgb(54, 54, 54);
}

.read p {
  font-size: 2.5rem;
  font-family: 'Gideon Roman';
}

/* AllChoice */
.allchoice-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.Choice-item {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.Choice {
  padding: 2rem;
  height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.Choice h1 {
  padding: 1rem;
  margin-bottom: 5px;
  background-color: white;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  font-size: 1.3rem;
  font-weight: 300;
}

.All {
  padding-bottom: 5rem;
}

.Subscribe {
  padding: 3rem 0;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  font-size: 4rem;
  overflow: hidden;
  /* Hides the text when it's out of view */
  width: 100%;
  /* Ensure the div takes full width */
  white-space: nowrap;
}

.Subscribe h1 {
  display: flex;
  align-items: center;
  gap: 2rem;
  text-shadow: 0 25px 10px rgb(128, 128, 128);
  animation: scrollText 10s linear infinite;
}

.Subscribe h1 img {
  width: 10%;
}

@keyframes scrollText {
  from {
    transform: translateX(100%);
    /* Start just outside the right edge */
  }

  to {
    transform: translateX(-100%);
    /* Move to the left, out of view */
  }
}

.Subscribe h1 span {
  font-family: 'Gideon Roman';
}

.FCategory-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
  justify-content: center;
  padding: 3rem 0;
}

.f-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.f_btn {
  padding: 5rem 1.5rem;
  border: 2px solid rgb(177, 177, 177);
  border-radius: 10px;
}

.f_btn:hover {
  background-color: rgba(209, 209, 209, 0.405);
  transition: 0.4s;
  cursor: pointer;
}

.f_text {
  width: 450%;
}

.f_img img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.login {
  padding: 15rem 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  border-radius: 20px;
  border: 2px solid black;
  display: flex;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #ffffff;
  padding: 30px;
  width: 450px;
  border-radius: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form button {
  align-self: flex-end;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.flex-column label {
  color: #151717;
  font-weight: 600;
}

.inputForm {
  border: 1.5px solid #ecedec;
  border-radius: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  transition: 0.2s ease-in-out;
}

.input {
  margin-left: 10px;
  border-radius: 10px;
  border: none;
  width: 100%;
  height: 100%;
}

.input:focus {
  outline: none;
}

.inputForm:focus-within {
  border: 1.5px solid #2d79f3;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.flex-row>div>label {
  font-size: 14px;
  color: black;
  font-weight: 400;
}


.span {
  font-size: 14px;
  margin-left: 5px;
  color: #2d79f3;
  font-weight: 500;
  cursor: pointer;
}


.button-submit {
  margin: 20px 0 10px 0;
  background-color: #151717;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  height: 50px;
  width: 100%;
  cursor: pointer;
}

.p {
  text-align: center;
  color: black;
  font-size: 14px;
  margin: 5px 0;
}

.btn {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  gap: 10px;
  border: 1px solid #ededef;
  background-color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.btn:hover {
  border: 1px solid #2d79f3;
  ;
}


.sub {
  padding: 0.5rem 1rem;
  color: rgb(0, 0, 0);
  background-color: white;
  border: 2px solid rgb(184, 184, 184);
  font-size: 1.2rem;
  border-radius: 15px;
}

.sub:hover {
  background-color: black;
  color: white;
  transition: 0.4s;
  cursor: pointer;
  border: 2px solid black;
  width: fit-content;
}

.h3 {
  font-size: 2em;
  font-weight: 200;
  font-family: 'Gideon Roman';
}

.contact {
  width: 100%;
  text-align: center;
  padding: 1rem;
  border-radius: 20px;
  background-color: black;
}

.contact a {
  color: white;
}

.contact:hover a {
  color: black;
}

.contact:hover {
  background-color: white;
  transition: 0.4s;
  color: black;
  border: 2px solid black;
  cursor: pointer;
}

.login-items input {
  width: 100%;
  padding-left: 20px;
  padding: 1.2rem;
  border-radius: 20px;
  border: 2px solid black;
  font-size: 1rem;
}

.learn-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 0 25px rgb(185, 185, 185);
  padding: 2rem;
  background-color: rgb(238, 238, 238);
}

.learn_items {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.learn_items h1 {
  font-size: 5rem;
  font-weight: 200;
}

.learn_items img {
  width: 100%;
  border-radius: 20px;
}

.learn_items a {
  width: fit-content;
}

table {
  width: 100%;
  /* Full width for the table */
  border-collapse: collapse;
  /* Remove space between borders */
  margin-top: 20px;
  /* Space above the table */
}

th,
td {
  padding: 12px;
  /* Padding inside cells */
  text-align: left;
  /* Left-align text */
  /* border-bottom: 1px solid #dee2e6; Bottom border for each cell */
  font-size: 1.2rem;
}

th {
  /* Background color for the header */
  /* Text color for the header */
  font-weight: bold;
  /* Bold text for the header */
}

tbody td:hover {
  cursor: pointer;
}

.Footer-container {
  display: grid;
  grid-template-columns: 3fr 2fr 1fr;
  padding: 2rem;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  background-color: black;
  color: white;
  align-items: center;
}

.stay h1 {
  font-size: 3rem;
  font-weight: 300;
  width: 70%;
}

.stay h1 span {
  font-family: 'Gideon Roman';
  font-weight: 600;
}

.Social {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.Social img {
  width: 100%;
  padding: 0.8rem;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 50%;
}

.Social img:hover {
  background-color: rgb(50, 50, 50);
  transition: 0.4s;
  transform: scale(1.1);
}

.new-articles {
  padding: 10rem 2%;
}

.article-heading {
  display: flex;
  align-items: center;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.article-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;

}

.Articles {
  width: 100%;
  padding: 2rem 2%;
}

.Articles h1 {
  font-size: 1.2rem;
  background-color: white;
  padding: 0.5rem;
  border-radius: 10px;
}

.Articles h5 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.Articles p {
  font-size: 1.5rem;
}

.img-articles {
  background-size: cover;
  height: 40vh;
  border-radius: 20px 20px 0 0;
  padding: 1.5rem;
}

.NEWS_TYPE {
  font-size: 4rem;
  align-items: center;
  font-family: 'Gideon Roman';
}



/* src/components/About.css */
.about-section {
  padding: 10rem 2%;
  background-color: #f9f9f9;
  /* Light background for contrast */
  color: #333;
  /* Dark text for readability */
  text-align: center;
}

.about-section h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.about-section h3 {
  font-size: 1.8rem;
  margin-top: 30px;
  margin-bottom: 10px;
  font-family: 'Gideon Roman';
  text-decoration: underline;
  color: #202020;
  /* Accent color for headings */
}

.about-section p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 15px;
  max-width: 800px;
  /* Max width for readability */
  margin-left: auto;
  margin-right: auto;
}

.about-section ul {
  list-style-type: none;
  padding: 0;
}

.about-section ul li {
  font-size: 1rem;
  margin: 10px 0;
}

.about-section a {
  color: #000000;
  /* Link color */
  text-decoration: underline;
  font-weight: 800;
}

.about-section a:hover {
  text-decoration: none;
  /* Remove underline on hover */
}


/* login section */



@media (max-width: 768px) {
  .menu {
    width: 100%;
    /* Full width for the menu */
  }

  .menu-toggle {
    display: block;

  }

  .menu ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 72.5%;
    left: 25%;
    right: 0;
    width: 75%;
    padding: 2rem 0;
    background-color: rgba(0, 0, 0, 0.296);
    backdrop-filter: blur(10px);
    border-radius: 0 0 0 50px;
    z-index: 10;
    gap: 3rem;
  }

  .learn_items h1 {
    font-size: 1.2rem;
  }

  .menu.open ul {
    display: flex;
  }

  .menu ul a {
    color: white;
    font-size: 1rem;
  }

  .search {
    display: none;
  }

  .heading {
    font-size: 5rem;
  }

  .logo {
    font-size: 1.2rem;
  }

  .categories {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .img-div h1 {
    font-size: 1rem;
    width: 40%;
  }

  .read h5 {
    font-size: 1rem;
  }

  .read p {
    font-size: 1.5rem;
  }

  .Section_title h1 {
    font-size: 2rem;
  }

  .Section_title p {
    font-size: 1rem;
  }

  .category {
    padding: 1rem;
    display: flex;
    align-items: center;
  }

  .category a {
    font-size: 1rem;
  }


  /* Featured items */
  .Featured-container {
    grid-template-columns: 1fr;
  }

  /* News section */
  .News-container {
    grid-template-columns: 1fr;
  }

  /* Editors section */
  .editors-container {
    grid-template-columns: 1fr;
  }

  /* AllChoice section */
  .allchoice-container {
    grid-template-columns: 1fr;
  }

  /* Contact form */
  .Contact_form input,
  .Contact_form textarea {
    width: 90%;
  }

  /* Learn container */
  .learn-container {
    grid-template-columns: 1fr;
  }

  /* Footer adjustments */
  .Footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  /* Subscribe section */
  .Subscribe h1 {
    font-size: 2rem;
  }

  /* Featured items */
  .FCategory-container {
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    gap: 5rem;
  }

  .stay {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .stay h1 {
    font-size: 1.5rem;
    text-align: center;

  }

  /* General adjustments */
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  /* Adjust button sizes */
  .contact-btn,
  .WideBtn {
    width: 100%;
    padding: 1rem;
  }

  /* Adjust table layout */
  table {
    display: none;
  }

  .new-articles {
    padding: 8rem 2%;
  }

  .article-heading {
    display: flex;
    align-items: center;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }

  .article-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    padding: 5rem 5%;
  }

  .Articles {
    width: 100%;
  }

  .Articles h1 {
    font-size: 3rem;
  }

  .article-container h1 {
    font-size: 0.7rem;

    padding: 0.5rem;

  }

  .Articles h5 {
    font-size: 1.2rem;

  }

  .Articles p {
    font-size: 1rem;
  }

  .img-articles {
    padding: 0.5rem;
  }

  .NEWS_TYPE {
    font-size: 2rem;

  }

  .about-section ul {
    display: flex;
    flex-direction: column;
  }

  .Editors_part1 {
    width: 100%;
    height: 30vh;
  }

  .editor-items:nth-of-type(2) {
    display: grid;
    grid-template-columns: 1fr;
  }

  .Editor_part2 h1 {
    width: 45%;
    font-size: 1rem;
  }

  .fCategory {
    display: none;
  }

  .login-items {
    width: 100%;
  }

  .login-container {
    padding: 0rem;
    background: none;
  }

  .h3 {
    font-size: 1.5rem;
  }

  .f_img {
    width: 400%;
  }

  /* login */
  .form{
    width: 350px;
  }
  .login{
    padding: 8rem 5%;
  }

}