@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: 'Outfit', 'Gideon Roman';
}

::-webkit-scrollbar{
  @apply hidden
}
.header {
  background-color: rgba(177, 195, 198, 0.478);
  backdrop-filter: blur(10px);
}

.dark-header {
  background-color: rgba(0, 0, 0, 0.925);
  backdrop-filter: blur(10px);
}

a hr {
  display: none;
}

a.active hr {
  display: flex;
  border: none;
  width: 100%;
}

button:active {
  transform: scale(0.95);
  transition: 0.3s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.gridcols{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: space-between;
}

.roman{
  font-family: 'Gideon Roman';
}

.placeholder::placeholder{
  color: #414141;
}

/* Mobile Menu Animation */
@media (max-width: 768px) {
  .mobile-menu {
    transition: all 0.5s ease-in-out;
  }
}
